body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: hidden;
}

.root {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type=range] {
    border: none;
}

.synth {
    background-color: #323232;
    width: 60%;
    margin: auto;   
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.keyboard {
    position: relative;
    margin: auto;
    background-color: none;
    margin-top: 92px;
    max-width: 90%;
    overflow: auto;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 15px;
}

.keyboard::-webkit-scrollbar {
    display: none;
}

.key_white_container {
    width: 700px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.key_black_container {
    width: 700px;
    position:absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: -20px;
}

.key_black_group {
    display: flex;
    justify-content: space-around;
    width: 81px;
    margin-left: -39px;
}

.key_black_group_first {
    margin: 0;
}

.key_black_group_2 {
    margin-left: 44px;
}

.key_black_group_big {
    width: 125px;
    margin-left: 42px;
}

.key {
    width: 40px;
    height: 150px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.key_black {
    width: 20px;
    height: 100px;
    background-color: #000;
    color: white;
    font-size: 11px;
}

.key:hover {
    background-color: #ccc;
}

.key.active {
    background-color: #aaa;
    transition: all 0.1s ease-in-out;
}

.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.panel select{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.volume {
    width: 20%;
}