body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.root {
    border: 2px solid black;
}

input[type=range] {
    border: none;
}

.keyboard {
    position: relative;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #000;
    background-color: #aaa;
    margin-top: 92px;
}

.key_white_container {
    display: flex;
}

.key_black_container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: start;
}

.key_black_group {
    display: flex;
    justify-content: space-around;
    width: 81px;
    margin-left: 30px;
}

.key_black_group_2 {
    margin-left: 44px;
}

.key_black_group_big {
    width: 125px;
    margin-left: 42px;
}

.key {
    width: 40px;
    height: 150px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 14px;
    cursor: pointer;
}

.key_black {
    width: 20px;
    height: 100px;
    background-color: #000;
}

.key:hover {
    background-color: #ccc;
}

.key.active {
    background-color: #aaa;
    transition: all 0.1s ease-in-out;
}

.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.panel select{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.volume {
    width: 20%;
}
